<!DOCTYPE html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <main class="container-fluid">
                <div class="information-section">
                    <h3>Welcome to <%= title %></h3>
                    <p>On this page you can see and create workout programs with custom exercises for your training</p>
                </div>
                <div class="workout-section">
                    <div class="images-cards"> 
                        <div class="dark-card">
                            <img src="/images/pexels-scott-webb-136404.jpg" alt="dark">
                            <h4>Leg day</h4>
                            <p>Don't skip leg day! Remember to add leg exercises to your programs.</p>
                        </div>
                        <div class="grey-card">
                            <img src="/images/pexels-li-sun-2294361.jpg" alt="grey">
                            <h4>Variety!</h4>
                            <p>Remember to have variation in your exercises. </p>
                        </div>
                        
                        <div class="white-card">
                            <img src="/images/pexels-li-sun-2294353.jpg" alt="white">
                            <h4>Make several programs</h4>
                            <p>Customize your own programs for specific type of workouts</p>
                        </div>
                    </div>
                </div>
        </main>

        <script src="" async defer></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>