<!DOCTYPE html>
<html>
    <head>
        <title>WebAssignment1</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>

    <body>
        <header>
            <nav>
                <div class="solid-nav">
                    <ul>
                        <li class="logo"><a href="#"></a></li>
                        <li class="home"><a href="/">HOME</a></li>
                    </ul>
                </div>
                <div class="transcenden-nav">
                    <ul>
                        <li><a href="/workout/workout">See Workouts</a></li>
                    </ul>
                </div>
            </nav>
            <div class="IntroSection">
                <div class="IntroSectionWrapper">
                    <h1>GET SWOLE</h1>
                    <h2>IMPRESS CHODEDAMIN</h2>
                    <a href="/users/login"><button>Login</button>
                    <a href="/users/register"><button>Register</button></a>
                </div>
            </div>
        </header>
        <main>
            <%- body %>
        </main>
        <footer>
            <p>Made by Group 10</p>
        </footer>
    </body>
</html>